# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# other files
*.db
*.orig
*.retry
*.log

# Test binary, built with `go test -c`
*.test

/tmp/*
/temp/*
bin/
.cover/
vendor

# IDE Files
.vscode/